extends ../layout/layout.pug

block header
  link(rel="stylesheet", href="css/header.css")

block content
  header.page-header
    section.user-block
      a.user-block__login(href='/') Увійти
  main.register
    h2.register__title Реєстрація нового користувача
    form.register__form(method='POST')
      label.request-form__label
        | Ім`я
        input(type='text', name='first-name', required)
      label.request-form__label
        | Прізвище
        input(type='text', name='last-name', required)
      label.request-form__label
        | По-батькові
        input(type='text', name='middle-name', required)
      label.request-form__label
        | Дата народження
        input(type='date', name='birthday', required)
      label.request-form__label
        | Номер контактного телефону
        input(type='text', name='phone', required)
      label.request-form__label
        | Електронна пошта
        input(type='email', name='email', required)
      label.request-form__label
        | Пароль
        input(type='password', name='pass', required)
      label.request-form__label
        | Повторіть пароль
        input(type='password', name='pass2', required)
      label.request-form__label
        | Логін
        input(type='text', name='login', required)
      label.request-form__label
        | Посада
        select.register__post(name='post')
          each item in rolesList
            option(value=item.id)= item.name
      label.request-form__label
        | Відділ
        select.register__department(name='department')
          each item in departmentsList
            option(value=item.id)= item.name
      p.request-form__sex
        | Стать
        label
          input(type='radio', name='sex', value='m' checked)
          |             Ч
        label
          input(type='radio', name='sex', value='f')
          |             Ж
      .register__submit-container
        button.btn-submit.register__submit(type='submit')
          | Зареєструватися
      if error
        p.register__error= error
    script(src='js/register.js')