.dashboard {
  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }

  &__message {
    font-size: 16px;
    text-align: center;
  }

  &__item {
    &-critical {
      color: red;
    }

    &-performer {
      font-size: 14px;
      width: 100%;
    }

    &-creator-cell {
      max-width: 200px;
    }

    td {
      padding: 10px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    &-payload {
      resize: none;
      width: 100%;
    }

    &--header {
      font-weight: bold;
      
      th {
        padding-bottom: 20px;
      }
    }
  }
}